header{
    width: 100%;
    height: 100vh;
    background-image:
   linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(74, 67, 72, 0.73)),
   url('images/header.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.brand{
    margin: 10px;
    height: 40px;
    width: 50px;
}
span{
    color: orange;
}
.nav-logo{
    color: red;
    font-size: 25px;
    cursor: pointer;
}
nav ul{
    display: flex;
   margin: 20px;
}
nav ul li{
    list-style: none;
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    padding: 9px;
    color: black;
}
nav ul li a:hover{
    color: aqua;
}
.nav-present{
    color: red;
}
.nav-present:active{
    color: red;
}
.nav-last{
    background-color: rgba(255, 72, 0, 0.642);
    color: whitesmoke;
}
.nav-last:hover{
    background-color: black;
    border: black;
    color: white;
}
.title{
    position: absolute;
    top: 38%;
    left: 15%;
    font-size: 2rem;
    color: whitesmoke;
}
.top-btn{
    background-color: rgba(248, 8, 8, 0.719);
    padding: 12px 22px;
    border: none;
    margin: 5px;
    font-weight: bold;
    border-radius: 8px;
    color: whitesmoke;
}
.top-btn:hover{
    background-color: whitesmoke;
    color: black;
}
/* Section About */
.about{
background-color: rgba(126, 205, 232, 0.691);
padding: 80px;
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-title{
    width:300px ;
    height: 250px;
    margin:40px 40px 0 10px;
    box-sizing: border-box;
}
.big-size{
    font-size: 25px;
    margin: 8px 0;
}
.mini-size{
    margin: 5px 0;
    font-size: 16px;
}
.about-btn{
    color: red;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
.about-btn:hover{
    color: rgb(251, 242, 242);
}
small{
    font-size: 15px;
}
.another{
   display: grid;
   grid-template-columns: auto auto;
   gap: 15px;
}
.about-time{
    width:300px ;
    height: 250px;
    margin: 12px;
    box-sizing: border-box;
  
}
.one{
    margin-bottom: 25px;
 background-color: beige;
 padding:5px 0 12px 25px ;
}
.one-time{
    font-size: 22px;
}
.time-description{
    margin: auto;
}
/* Section Exprience */
.exprience{
margin:55px 100px;
}
.card-container{
display: flex;
justify-content: center;
align-items: center;
margin: 20px;
}
.another-container{
    display: flex;
    flex-direction: column;
}
.card{
    background-color: azure;
    width: 320px;
    height: 370px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 22px;
    box-shadow: 2px 3px 15px gray;
}
.card-btn{
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
    padding: 10px 18px;
}
.card-btn:hover{
    background-color: rgba(239, 65, 12, 0.736);
    color: white;
}
.card-img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.card-description{
    text-align: center;
    margin: 5px;
}
.exprience-title{
    margin: 12px 0 0 40px;
}
/* Section service */
.service{
   background-color: lightblue;
    
}
.card-2{
    background-color: white;
    width: 320px;
    height: 320px;
    box-sizing: border-box;
    border-radius: 5px;
    margin:10px;
    box-shadow: 2px 3px 15px gray;
}
.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.card-2-description{
    margin: 10px;
    padding: 6px;
}
.card-2-link{
    font-weight: bold;
    font-size: 18px;
    color: red;
    text-decoration: none;
}
.card-2-link:hover{
    color: #3ed335;
}
.service-title{
    margin: 50px 140px;
    padding: 40px 0 0 0;
}
/* Section teatimonial */
.testmonial-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.text-photo{
   
    clip-path: circle(37.4% at 53% 49%);
    width: 20%;
    margin: 20px;
   
}
.test-pic{
    width: 10%;
}
.test-description{
    width: 80%;
    margin: 10px 50px;
}
.test-title{
    font-size: 16px;
}
.align{
    text-align: right;
}
.horizonal{
    position: absolute;
    width: 218px;
    color: #3ed335;
    margin: -15px 0px;
}
/* Section contact */
.name{
    margin: 4px;
    padding: 2px;
}
.contract{
    background-color: lightblue;
}
.contact-form{ background-color: lightblue;
    position: absolute;
    left: 12%;
    width: 500px;
    height: 200px;
    margin: 20px ;
}
.input-name{
    width: 48%;
    outline:none;
} 
.input-email{
    width: 48%;
    outline: none;
}     
.input-msg{
    width: 99%;
    margin-top: 20px;
    outline: none;
}   
.contract-me{
    width: 52%;
    text-align: left;
    margin-left: 500px;
    padding: 35px;
    line-height: 8px
}   
.contract-container{
    display: flex;
    padding: 20px 0 0 150px;
    justify-content: center;
    align-items: center;
}
footer{
    background-color:black;
    text-align: center;
    font-size: 19px;
    color: whitesmoke;
}